<ul class="paginator" *ngIf="paginationParams$ | async; let paginationParams">

    <li class="paginator__firstPage">
        <a *ngIf="paginationParams.page !== 1" routerLink="/pokemons">
            <<
        </a>
    </li>

    <li *ngFor="let page of middlePages" class="paginator__middlePage">
        <a *ngIf="page && page.page !== paginationParams.page" routerLink="/pokemons" [queryParams]="page">
            {{ page.page }}
        </a>
        <a *ngIf="page && page.page === paginationParams.page" class="paginator__middlePage_active">
            {{ page.page }}
        </a>
    </li>

    <li class="paginator__lastPage">
        <a *ngIf="lastPage && paginationParams.page !== lastPage.page" routerLink="/pokemons" [queryParams]="lastPage" >
            >>
        </a>
    </li>

</ul>